:root {
    --font-family: "Inter", sans-serif;
    --second-family: "HeadlandOne", sans-serif;
    --third-family: "Hammersmith One", sans-serif;
  }
  img {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }
  .container{
   width: 1062px; 
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
  }
  .flex{
    display: flex;
  }
  .hero {
    background-color:gray ;
    width: 1440px;
    height: 740px;
    margin-right: auto;
    margin-left: auto;
    background-image: url("../images/chlop1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 180px;
    padding-bottom: 180px;
    }
  .treyler {
    padding-top: 330px;
    padding-bottom: 330px;
    background-image: url("../images/divchina.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
